<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	backupGlobals               = "false"
	backupStaticAttributes      = "false"
	colors                      = "true"
	convertErrorsToExceptions   = "true"
	convertNoticesToExceptions  = "true"
	convertWarningsToExceptions = "true"
	processIsolation            = "false"
	stopOnFailure               = "true"
	syntaxCheck                 = "false"
	bootstrap                   = "vendor/autoload.php">

	<testsuites>
		<testsuite name="Synthesize Test Suite">
			<directory>tests</directory>
		</testsuite>
	</testsuites>

	<logging>
		<log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
		<log type="coverage-html" target="_build/logs/html"/>
		<log type="coverage-clover" target="_build/logs/clover.xml"/>
		<log type="junit" target="_build/logs/junit.xml" logIncompleteSkipped="false"/>
	</logging>
</phpunit>